data
data_old
out
checkpoints
logs
embeddings
tensorized
concept_likelihood
.ipynb_checkpoints

promptsource
*/promptsource
*/*promptsource*

*.err
*.out
*.txt
*/*.err
*/*.out
*/*.txt

__pycache__
*/__pycache__
*/*/__pycache__

Makefile
*/Makefile

*tmp*
*/*tmp*
*track*
*/*track*

my*
*.zip
*.pkl
*.jsonl
*.csv
*.npy
*.tar.gz
